<!DOCTYPE html>
<<html xmlns:th="http://www.thymeleaf.org"><!-- how to define fragments -->
	<head th:fragment="header">
		<title th:text="${title}">Hello, Spring</title><!-- will use title if it has a value, no value means to use what follows -->
		
		<link th:href="@{/css/styles.css}" rel="stylesheet"/> <!-- creates paths to css and javascript dynamincally -->
		<script th:src="@{/js/script.js"></script>
		
		<title>Hello, Spring!</title>
	</head>
	<p th:fragment="footer">
	Copyright &copy; LaunchCode
	</p>
</html>